@import "../shared/styles/variables";
@import "../shared/styles/misins";

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
  &__logo {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    background-color: $text-color;
    text-decoration: none;
    &_lg {
      display: none;
      @include bp-sm {
        display: flex;
      }
    }
    &_sm {
      display: flex;
      @include bp-sm {
        display: none;
      }
    }
  }
  &__header {
    background-color: #fff;
    padding: 0 15px;
    height: #{$header-height}px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__main {
    display: flex;
    flex-flow: column;
  }
  &__btn {
    &_back {
      margin-left: 10px;
      margin-right: auto;
    }
  }
}
